@inherits LayoutComponentBase  
@inject NavigationManager Navigation  
@inject StorageAPI StorageAPI  

<div class="artista-card">  
    <img class="artista-img" src="@base64" alt="@Artista.Nome" />  
    <div class="artista-card-body">  
        <h4 class="artista-nome">@Artista.Nome</h4>  
        <p class="artista-bio">@Artista.Bio</p>  
        <button class="btn btn-artista-detalhes" @onclick="IrParaDetalhes">DETALHES</button>  
    </div>  
</div>  

@code {  
    [Parameter]  
    public ArtistaResponse Artista { get; set; }  

    private string base64 = "";  

    protected override async Task OnInitializedAsync()  
    {  
        if (Artista == null)  
        {  
            throw new ArgumentNullException(nameof(Artista), "Artista cannot be null");  
        }  

        if (!string.IsNullOrEmpty(Artista.FotoPerfil))  
        {  
            base64 = await StorageAPI.DownloadFileAsync(Artista.FotoPerfil);  
        }  
        else  
        {  
            base64 = await StorageAPI.DownloadFileAsync("card_padrao.jpg");
        }  
    }  

    private void IrParaDetalhes()  
    {  
        Navigation.NavigateTo($"/editarArtista/{Artista.Id}");  
    }  
}
