@inherits LayoutComponentBase

<!-- Barra superior -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="images/screensound-logo.png" alt="ScreenSound Logo" style="height: 30px;" />
            </a>
        </div>
    </div>
</nav>

<!-- Sidebar -->
<div class="col-md-3 sidebar">
    <NavMenu />
</div>

<!-- Main Content -->
<div class="col-md-9 main">
    @Body
</div>