  <!-- Sidebar -->
<div class="sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#">🏠 Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="collapse" href="#artistasMenu">👥 Artistas <span class="caret"></span></a>
            <ul id="artistasMenu" class="collapse">
                <li><a href="#">Cadastrar</a></li>
                <li><a href="#">Listar</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="collapse" href="#musicasMenu">🎵 Músicas <span class="caret"></span></a>
            <ul id="musicasMenu" class="collapse">
                <li><a href="#">Cadastrar</a></li>
                <li><a href="#">Listar</a></li>
            </ul>
        </li>
    </ul>
</div>

@code {

}
