@page "/editarArtista/{id:int}"
@inject ArtistasAPI artistasAPI
@inject StorageAPI storageAPI
@inject NavigationManager Navigation

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="panel-artista-editar">

                @if (!string.IsNullOrEmpty(alertMessage))
                {
                    <div class="alert @alertClass" role="alert">
                        @alertMessage
                    </div>
                }

                <div class="form-group">
                    <img src="data:image/jpeg;base64,@base64" alt="Foto do Artista" class="artista-img" />
                    <InputFile id="card-banda" OnChange="OnInputFileChange" accept="image/jpeg" class="form-control" style="margin-bottom: 20px;" />
                </div>

                <div class="form-group">
                    <h4>@artistaRequestEdit?.Nome</h4>
                </div>

                <div class="form-group">
                    <label for="bio">Biografia</label>
                    <textarea id="bio" class="form-control" rows="4" @bind="bioEditavel" style="resize: vertical; margin-bottom: 20px;"></textarea>
                </div>

                <button type="button" class="btn btn-artista-salvar btn-block" style="width: 100%;" @onclick="Gravar">Salvar</button>

            </div>


        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private ArtistaResponse? artista;
    private ArtistaRequestEdit? artistaRequestEdit;
    private string bioEditavel = string.Empty;
    private string? base64 = "";
    private string? fotoPerfil = null;

    // Variáveis para mensagem
    private string alertMessage = string.Empty;
    private string alertClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            artista = await artistasAPI.GetArtistaPorIdAsync(id);
            if (artista is not null)
            {
                artistaRequestEdit = new ArtistaRequestEdit
                (
                    artista.Id,
                    artista.Nome,
                    artista.Bio,
                    artista.FotoPerfil
                );

                bioEditavel = artista.Bio;
                fotoPerfil = artista.FotoPerfil;

                if (!string.IsNullOrEmpty(artista.FotoPerfil))
                {
                    base64 = await storageAPI.DownloadFileAsync(artista.FotoPerfil);
                    fotoPerfil = artista.FotoPerfil;
                }
                else
                {
                    base64 = await storageAPI.DownloadFileAsync("card_padrao.jpg");

                    var nomeArquivo = Util.NormalizarString(artista.Nome);
                    fotoPerfil = Util.GerarNomeUnicoArquivo($"{nomeArquivo}.jpg");
                }

                base64 = base64?.Trim('"') ?? string.Empty;
            }
        }
        catch (Exception ex)
        {
            artista = null;
            bioEditavel = string.Empty;
            Console.WriteLine($"Erro ao carregar o artista: {ex.Message}");
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var stream = file.OpenReadStream(maxAllowedSize: 5 * 1024 * 1024); // 5MB
            using var ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            var bytes = ms.ToArray();
            base64 = Convert.ToBase64String(bytes);
        }
    }

    private async Task Gravar(MouseEventArgs args)
    {
        try
        {
            if (artistaRequestEdit is not null)
            {
                // Atualiza a imagem se ela foi alterada
                if (!string.IsNullOrEmpty(base64))
                {
                    await storageAPI.UploadFileAsync(base64, fotoPerfil);
                }

                var updatedArtista = artistaRequestEdit with
                {
                    Bio = bioEditavel,
                    FotoPerfil = fotoPerfil
                };
                await artistasAPI.UpdateArtistaAsync(updatedArtista);

                alertMessage = "Artista atualizado com sucesso!";
                alertClass = "alert-success";
                StateHasChanged();

                await Task.Delay(2000);
                Navigation.NavigateTo("/artistas");
            }
        }
        catch (Exception ex)
        {
            alertMessage = "Erro ao atualizar artista: " + ex.Message;
            alertClass = "alert-danger";
            StateHasChanged();
        }
    }
}