<CascadingValue Value="MensagemFilho">
    <h3 style="color: green;">📗 @MensagemFilho</h3>
    <NetoComponente />
</CascadingValue>

@code {
    [CascadingParameter] public string? MensagemFilho { get; set; }
}