<div>
    <input @bind="Value" @bind:event="oninput" @onchange="OnValueChanged" />
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Console.WriteLine("OnValueChanged");
        Value = e.Value.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}